In [1]:
import pandas as pd
import datetime
import numpy as np
import matplotlib.pyplot as plt
data=pd.read_csv('C://Users//Admin//OneDrive//Desktop//HPE//data_1.csv')

In [2]:
data.shape

(2944, 39)

In [3]:
data['START_TIME'] = pd.to_datetime(data['START_TIME'])
set1=set(pd.date_range(data['START_TIME'].min(),data['START_TIME'].max(),freq='H'))
set2=set(data['START_TIME'])
set1-set2

{Timestamp('2021-07-29 21:00:00', freq='H'),
 Timestamp('2021-07-29 22:00:00', freq='H'),
 Timestamp('2021-07-29 23:00:00', freq='H'),
 Timestamp('2021-07-30 00:00:00', freq='H'),
 Timestamp('2021-07-30 01:00:00', freq='H'),
 Timestamp('2021-07-30 02:00:00', freq='H'),
 Timestamp('2021-07-30 03:00:00', freq='H'),
 Timestamp('2021-07-30 04:00:00', freq='H')}

In [4]:
df=data
df=df.set_index('START_TIME').resample('H').mean()

In [5]:
df.shape

(2952, 38)

In [6]:
df.isnull().sum()

F1      8
F2      8
F3      8
F4      8
F5      8
F6      8
F7      8
F8      8
F9      8
F10     8
F11     8
F12     8
F13     8
F14     8
F15     8
F16     8
F17     8
F18     8
F19    68
F20    68
F21     8
F22     8
F23     8
F24     8
F25     8
F26     8
F27     8
F28     8
F29     8
F30     8
F31     8
F32     8
F33     8
F34     8
F35     8
F36     8
F37     8
F38     8
dtype: int64

In [7]:
df=df.ffill(axis = 0)

In [8]:
df.isnull().sum()

F1     0
F2     0
F3     0
F4     0
F5     0
F6     0
F7     0
F8     0
F9     0
F10    0
F11    0
F12    0
F13    0
F14    0
F15    0
F16    0
F17    0
F18    0
F19    0
F20    0
F21    0
F22    0
F23    0
F24    0
F25    0
F26    0
F27    0
F28    0
F29    0
F30    0
F31    0
F32    0
F33    0
F34    0
F35    0
F36    0
F37    0
F38    0
dtype: int64

In [9]:
df.to_excel("C:\\Users\\Admin\\OneDrive\\Desktop\\HPE\\data_timestamps.xlsx")

In [15]:
import numpy as np
import pandas as pd
import math

# Load the existing time series dataset
data = pd.read_csv('C:\\Users\\Admin\\OneDrive\\Desktop\\HPE\\data_timestamps.csv')

# Define small constant for handling zero values
EPSILON = 1e-6

# Get all pairs of variables with correlation coefficient of 1
corr_matrix = data.corr()
corr_pairs = []
for i in range(len(corr_matrix.columns)):
    for j in range(i+1, len(corr_matrix.columns)):
        if round(abs(corr_matrix.iloc[i,j]),2) == 1:
            corr_pairs.append((corr_matrix.columns[i],corr_matrix.columns[j]))

# Create new variables for each correlated pair in the corr_pairs array
for pair in corr_pairs:
    var1 = data[pair[0]]
    var2 = data[pair[1]]
    if var1.min() == 0:
        new_var_name = f'{pair[1]}/{pair[0]}'
        new_var = var2 / (var1 + EPSILON)
    else:
        new_var_name = f'{pair[0]}/{pair[1]}'
        new_var = var1 / (var2 + EPSILON)
    data[new_var_name] = new_var

# Remove the old variables and keep the new ones
original_vars = [pair[0] for pair in corr_pairs] + [pair[1] for pair in corr_pairs]
data = data.drop(original_vars, axis=1)
data.to_csv('C:\\Users\\Admin\\OneDrive\\Desktop\\HPE\\feature_seln_new.csv')